sudo: require
dist: trusty
language: cpp
compiler: gcc
before_install:
    - sudo apt-get -qq update
    - sudo apt-get install -y cmake
    - sudo apt-get install -y libgtest-dev
    - cd /usr/src/gtest
    - sudo cmake CMakeLists.txt
    - sudo make
    - sudo cp *.a /usr/lib
    - cd -
    - sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-5 /usr/bin/gcc
before_script:
    - mkdir build
    - cd build
    - cmake ..
    - make
    - ls -l
script: ./tests/jamspell_tests
